.notification {
    position: relative;
    padding: 10px 10px 20px 10px;
    margin: 5px 10px;
    border-radius: 10px;
    animation: notifAnim 2.5s;
    opacity: 0%;
    width: 300px;
    height: 50px;
    overflow: hidden;
    color: #fff5fa;
    font-family: 'Arial';
    background-color: white;
}

.notifContainer {
    position: fixed;
    width: fit-content;
    height: 240px;
    bottom: 0%;
    padding: 10px;
    right: 0%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;

}

.notifMoveAnim {
    height: 85px;
    animation: notifScroll 1s;
}

.notificationTitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.notificationDesc {
    text-align: center;
}

@keyframes notifScroll {
    0% {
        height: 0px;
    }

    100% {
        height: 85px;
    }
}

@keyframes notifAnim {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.itemImagePreviewContainer {
    height: 80%;
    object-fit: fill;
}

.itemImagePreview {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    user-select: none;
}

.itemImage {
    width: 100%;
    height: 100%;
    text-align: center;
}

.textField {
    position: relative;
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
}

.textInput {
    margin-top: 50px;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: #f3f2f2;
}

.textInput:focus {
    outline: none;
}

label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: monospace;
    top: -20px;
    font-size: 14px;
    color: #5264AE;

}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.textInput:focus~.bar:before,
.textInput:focus~.bar:after {
    width: 50%;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}




.button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-flex;
    height: 50px;
    width: 170px;
    border: 1px solid #000000;
    margin: auto;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.button .buttonText {
    position: relative;
    transition: all .35s ease-Out;
}

.buttonText {
    font-size: 17px;
}

.slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #252525;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

.button:hover .slide {
    left: 0;
}

.button:hover .buttonText {
    color: #ffffff;
}

.headerLinks {
    height: 80px;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    padding-right: 30px;
}

body {
    margin: 0px;
}

.links {
    height: 100%;
    width: 100px;
    text-decoration: none;
    color: black;
    font-family: 'Arial';
    font-size: 20px;
}

.footer {
    height: 100px;
    display: flex;
    text-align: center;
    font-family: 'Arial';
}

.linkTitle {
    padding-top: 25px;
}

.itemDiv {
    font-size: 20px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    font-family: "Courier New";
    border-bottom: 1px solid black;
    height: 550px;
}

.itemDivDesc {
    height: 20%;
    border-bottom: 1px solid black;
}

.itemDivColours {
    margin-top: 10px;
}

.itemDivClass {
    color: grey;
}

.itemDivTitle {
    display: block;
}

.itemDivPrice {
    float: right;
}

.itemDiv:hover {
    cursor: pointer;
}

.filterContainer {
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: white;
    display: block;
    border-right: 2px solid gray;
    border-radius: 2px;
    width: 230px;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
}

.allItems {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
    gap: 50px;
    margin-top: 40px;
    padding: 0 50px 0 50px;
    margin-bottom: 40px;
}

.homePage {
    display: flex;
    height: 100%;
    min-height: 1000px;
}

.filterCheckBox {
    height: 50px;
    width: 100%;
    margin: auto;
    font-size: 20px;
    margin-left: 20px;
}

.filterGroupHeader {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 5px 0 5px 0;
}

.filterGroup {
    padding-top: 20px;
}

.logoImageContainer {
    height: 80px;
    width: 80px;
    margin: 0 0 0 10px;
    text-align: center;
}

.logoImage {
    margin-top: 10px;
    height: 80%;
    width: 80%;
}

.header {
    display: flex;
}

.filterButton {
    width: 100%;
    margin-top: 10px;
}

.inputCheckboxLabel {
    display: inline-block;
    margin-left: 10px;
}

.headerShadow {
    height: 20px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.165), rgba(255, 255, 255, 0));
    margin-bottom: -20px;
}

.footerShadow {
    height: 20px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.165));
    margin-top: -20px;
}

.headerUsername {
    font-size: 20px;
}

.headerLogout {
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 30px;
}


.cartImage {
    width: 40%;
    height: 40%;
}

.cartImageContainer {
    width: 100px;
}

.itemPopupPreviewContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.871);
    display: none;
}

.itemPopupPreview {
    margin: 6% auto auto auto;
    width: 60%;
    height: 75%;
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-areas: "image name"
        "desc desc";
    grid-template-columns: auto 60%;
    grid-template-rows: 55% 45%;
    font-family: monospace;
    border: 2px solid black;
    overflow: hidden;
}

.itemPopupImage {
    object-fit: fill;
    margin: auto;
}

.itemPopupName {
    grid-area: name;
    text-align: center;
    font-size: 2vw;
    padding-top: 22%;
    border-bottom: 1px solid black;

}

.itemPopupImageContainer {
    grid-area: image;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}

.itemPopupDesc {
    grid-area: desc;
    font-size: 1.5vw;
    padding: 50px;
}

.itemPopupClass {
    text-align: right;
    margin-right: 25%;
    font-size: 1.3vw;
    text-decoration: underline;
    color: grey;
}

.itemPopupPrice {
    font-size: 1.3vw;
    text-align: right;
    margin-right: 25%;
}

.itemPopupClose {
    display: block;
    position: fixed;
    top: 3%;
    right: 3%;
    font-size: 25px;
    user-select: none;
    cursor: pointer;
    color: white;
}

.itemPopupImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.formInputFields {
    margin:auto;
    margin-top: 45px;
    width:80%;

}

.formContainer {
    height: 600px;
    width: 50%;
    display: flex;
    position: relative;
    margin: 150px auto 200px auto;
}

.form {
    height: 600px;
    width: 49.9%;
    background-color: white;
    display: inline-block;
    position: absolute;
    animation: formAnim 3s;
    left: 0;
    border: 1px solid black;
}

.formInputHeader {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.formCover {
    height: 600px;
    width: 49.9%;
    background-color: #252525;
    display: inline-block;
    position: absolute;
    animation: formCoverAnim 3s;
    right: 0;
    color: white;
    text-align: center;
    border: 1px solid black;
}

.formCoverText {
    margin-top: 150px;
    animation: formCoverTextAnim 3s;
    font-size: 35px;
}

.formCoverUnderline {
    height: 1px;
    background-color: white;
    margin: 5px auto auto auto;
    width: 200px;
    animation: formCoverUnderlineAnim 3s;
}

.formRedirectLink{
    margin-top:25px;
    font-size: 20px;
}

@keyframes formCoverUnderlineAnim {
    0% {
        width: 0px;
    }

    25% {
        width: 0px;
    }

    50% {
        width: 200px;
    }
}

@keyframes formCoverTextAnim {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 100%;
    }
}

@keyframes formAnim {

    0% {
        left: 25%;
    }

    50% {
        left: 25%;
    }

    100% {
        left: 0;
    }
}

@keyframes formCoverAnim {
    0% {
        right: 25%;
    }

    50% {
        right: 25%;
    }

    100% {
        right: 0;
    }
}


@media only screen and (max-width:800px){
    
    .formContainer{
        display: none;
    }
}

@media only screen and (max-width: 1370px) {
    .allItems {
        grid-template-columns: auto auto;
    }

    .itemPopupClass,
    .itemPopupPrice {
        font-size: 2vw;
        margin-right: 20%;
    }

    .itemPopupName {
        font-size: 2.5vw;
        padding-top: 23%;
    }

    .itemPopupPreview {
        width: 80%;
    }

    .itemPopupDesc {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 1000px) {
    .allItems {
        grid-template-columns: auto;
        padding: 0;
    }

    .homePage {
        display: block;
    }

    .filterContainer {
        width: 100%;
        margin: 0;
    }

    .filterGroup {
        display: flex;
    }

    .filterButton {
        width: 170px;
        float: right;
        margin: 0 10px 10px 10px;
    }

    .removeFilterButton {
        float: left;
        margin: 0 10px 10px 10px;
    }

    .itemPopupClass,
    .itemPopupPrice {
        font-size: 2.5vw;
        margin-right: 22%;
    }

    .itemPopupName {
        font-size: 3.5vw;
        padding-top: 25%;
    }

    .itemPopupPreview {
        width: 90%;
    }

    .itemPopupDesc {
        font-size: 2.5vw;
    }

    .itemPopupClose {
        top: 1%;
        right: 2%;
    }
}

@media only screen and (max-width: 770px) {
    .itemPopupPreview {
        grid-template-areas: "image"
            "name"
            "desc";
        grid-template-rows: 30%;
        grid-template-columns: auto;
    }

    .itemPopupName {
        padding: 10%;
        font-size: 4vw;
    }

    .itemPopupClass,
    .itemPopupPrice {
        font-size: 2.7vw;
        margin-right: 26%;
    }

    .itemPopupClose {
        top: 0.5%;
        right: 1%;
    }
}

@media only screen and (max-width: 490px) {
    .logoImageContainer {
        display: none;
    }

    .headerLinks {
        justify-content: center;
        padding: 0;
    }

    .headerLogout,
    .headerUsername {
        font-size: 20px;
    }

    .filterGroup {
        display: grid;
        grid-template-columns: auto auto;
    }

    .filterCheckBox {
        width: 50%;
    }

    .links {
        width: 30%;
        font-size: 20px;
    }

    .itemPopupName {
        padding: 10%;
        font-size: 6vw;
    }

    .itemPopupClass,
    .itemPopupPrice {
        font-size: 4vw;
        margin-right: 14%;
    }

    .itemPopupDesc {
        font-size: 3.5vw;
    }

    .itemPopupPreview {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .itemPopupClose {
        color: black;
    }
}

@media only screen and (max-width: 390px) {
    .headerUsername {
        display: none;
    }

    .filterGroup {
        display: grid;
        grid-template-columns: auto;
    }

    .removeFilterButton {
        float: right;
        margin: 0 10px 10px 10px;
    }

    .itemPopupName {
        padding: 10%;
        font-size: 6vw;
    }

    .itemPopupClass,
    .itemPopupPrice {
        font-size: 5vw;
        margin-right: 14%;
    }

    .itemPopupDesc {
        font-size: 3.5vw;
    }
}