.notification {
    position: relative;
    padding: 10px 10px 20px 10px;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: #dc3055;
    animation: notifAnim 2.5s;
    opacity: 0%;
    width: 300px;
    height: 50px;
    overflow: hidden;
    color: #fff5fa;
    font-family: 'Arial';
}

.notifContainer {
    position: absolute;
    width: fit-content;
    height: 240px;
    bottom: 0%;
    padding: 10px;
    right: 0%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.notifMoveAnim {
    height: 85px;
    animation: notifScroll 1s;
}

.notificationTitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.notificationDesc {
    text-align: center;
}

.gradient {
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    position: absolute;
    height: 15%;
    width: 100%;
    top: 0%;
    z-index: 2;
}

@keyframes notifScroll {
    0% {
        height: 0px;
    }

    100% {
        height: 85px;
    }
}

@keyframes notifAnim {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.allItems {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left:200px;
}

.itemDiv {
    width: 300px;
    height: 300px;
    margin: 50px 50px 50px 50x;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

img {
    width: 80%;
    height: 80%;
}

.textField {
    position: relative;
    margin: auto;
    margin-bottom: 25px;
}

input {
    margin-top: 25px;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: #f3f2f2;
}

input:focus {
    outline: none;
}

label {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: monospace;

}

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 315px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}




.button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-flex;
    height: 50px;
    width: 170px;
    border: 1px solid #000000;
    margin: auto;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.button .buttonText {
    position: relative;
    transition: all .35s ease-Out;
}

.buttonText {
    font-size: 17px;
}

.slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #252525;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

.button:hover .slide {
    left: 0;
}

.button:hover .buttonText {
    color: #ffffff;
}

.header {
    width: 100%;
    height: 75px;
    background-color: rgba(189, 189, 189, 0.999);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

body {
    margin: 0px;
}

.links {
    height: 100%;
    width: 100px;
    text-decoration: none;
    color: black;
    font-family: 'Arial';
    font-size: 20px;
}

.footer {
    width: 100%;
    height: 75px;
    background-color: rgba(189, 189, 189, 0.999);
    display: flex;
    text-align: center;
    font-family: 'Arial';
}

.links:hover {
    border-bottom-style: solid;
}

.linkTitle {
    padding-top: 25px;
}

.itemDiv:hover {
    background-color: #e8e8e8;
    cursor: pointer;
    text-decoration: underline;
}

.filterContainer {
    position: absolute;
    background-color: grey;
    height: 100%;
    width: 200px;
    margin: auto;
}

.filterGroup{
    position: relative;
    width: 100%;
    height:20%;
}
.checkBoxes{
    display: inline-block;
}